<%- include('header') -%>


<section id="order-complete" class="m-top">
<h2>Thank you!</h2>
<p class="info">Dear <%= user.billing.firstname %> <%= user.billing.lastname %><br>
thanks for your order.</p>
</section>                        
   
            


<%- include('footer') -%>